version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/forklift"
    assignees:
      - "VincentAntoine"
    schedule:
      interval: "monthly"
    commit-message:
      prefix: "[Tech] "
    groups:
      version-updates:
        applies-to: version-updates
        update-types: ["minor", "patch"]
      security-updates:
        applies-to: security-updates
        update-types: ["minor", "patch"]
