# File to fill and place in ~ folder of the server
export DATA_WAREHOUSE_USER={{ data_warehouse_user }}
export DATA_WAREHOUSE_PASSWORD={{ prod_data_warehouse_pwd }}
export FORKLIFT_VERSION={{ version_application }}
export FORKLIFT_DOCKER_IMAGE={{ nexus_repo }}/datawarehouse
export SACROIS_FILES_GID=$(getent group $(whoami) | cut -d: -f3)