export DATA_WAREHOUSE_USER={{ data_warehouse_user }}
export DATA_WAREHOUSE_PASSWORD={{ data_warehouse_pwd }}
export DATA_WAREHOUSE_INPUT_DATA_FOLDER={{ data_warehouse_input_data_folder }}
export FORKLIFT_VERSION={{ version_application }}
export FORKLIFT_DOCKER_IMAGE={{ nexus_docker }}/{{ project_name }}
