# Database secrets
MONITORFISH_REMOTE_DB_CLIENT=postgresql
MONITORFISH_REMOTE_DB_HOST=172.27.229.187
MONITORFISH_REMOTE_DB_PORT=5432
MONITORFISH_REMOTE_DB_NAME=monitorfishdb
MONITORFISH_REMOTE_DB_USER=postgres
MONITORFISH_REMOTE_DB_PWD=postgres

MONITORENV_REMOTE_DB_CLIENT=postgresql
MONITORENV_REMOTE_DB_HOST=172.27.233.1
MONITORENV_REMOTE_DB_PORT=5432
MONITORENV_REMOTE_DB_NAME=monitorenvdb
MONITORENV_REMOTE_DB_USER=postgres
MONITORENV_REMOTE_DB_PWD=postgres

MONITORFISH_LOCAL_CLIENT=postgresql
MONITORFISH_LOCAL_HOST=10.56.205.25
MONITORFISH_LOCAL_PORT=5432
MONITORFISH_LOCAL_NAME=cnsp
MONITORFISH_LOCAL_USER=adl
MONITORFISH_LOCAL_PWD=Loup!Cnsp56

CACEM_LOCAL_CLIENT=postgresql
CACEM_LOCAL_HOST=10.56.205.25
CACEM_LOCAL_PORT=5432
CACEM_LOCAL_NAME=cacem
CACEM_LOCAL_USER=adl
CACEM_LOCAL_PWD=Loup!Cnsp56

DATA_WAREHOUSE_HOST=172.27.233.25
DATA_WAREHOUSE_PORT=8123
DATA_WAREHOUSE_USER=clickhouse_user
DATA_WAREHOUSE_PWD=password123

# Proxies to use when accessing the Internet
HTTP_PROXY_=http://172.27.229.197:8090
HTTPS_PROXY_=http://172.27.229.197:8090

# Prefect Server endpoint
PREFECT_SERVER_URL=http://prefect-test.csam.e2.rie.gouv.fr/graphql

# data.gouv.fr
DATAGOUV_API_KEY=eyJhbGciOiJIUzUxMiJ9.eyJ1c2VyIjoiNjA1OGQ3NDRiODhiYWY4ODAxNjc3YWU2IiwidGltZSI6MTY2ODAxMDQyNi45NTk1OTJ9.NLJk9qLNLAmn4virpCUZHzA2RXSkOu6P66HCfctfnMF_kkuisLrXgUFvQ6DZgheMUBHQWMmL61N3RC-anHd-aQ
